{% extends 'adminhome.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-xl-6">
 <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Book View
    </div>
    <div class="card-body">
        <table class="table">
  <thead>
    <tr>
       <th scope="col">SI No.</th>
       <th scope="col">Name</th>
       <th scope="col">Type</th>
       <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {% for i in Bk %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.name}}</td>
      <td>{{i.type}}</td>
      <td>{{i.description}}</td>
      <td><a href="{% url 'BookUpdate' i.id %}"><button type="button" class="btn btn-primary">Update</button></a></td>
      <td><form action="{% url 'Bookdelete' i.id %}" method="post">
          {% csrf_token %}
       <input type="hidden" name="student" value="{{i.id}}"/>
        <button type="submit" class="btn btn-danger">Delete</button></form></td>
    </tr>
  {% endfor %}
    </tbody>
</table>
    </div>
 </div>
</div>

{% endblock %}